{% block tags %}
{% load recipe_form_filters %}
<ul class="tags">
    {% for tag in tags %}
        <li class="tags__item">
            <a
                id="{{ tag.pk }}"
                class="tags__checkbox tags__checkbox_style_{{ tag.style }}
                {% if tag.value in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                href="{% url 'favorite' %}?{{ request|get_filter_link:tag }}"></a>
            <span class="tags__label">{{ tag.name }}</span>
        </li>
    {% endfor %}
</ul>
{% endblock %}