{% extends 'base.html' %}
<title>{% block title %}Пароль сброшен{% endblock %}</title>
{% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block content %}
<main class="main container">
    <div class="single-card__section"></div>
        <h1 class="single-card__section-title">Вы вышли из вашей учётной записи</h1>
        <div>
            <p>Обязательно ждём вас снова!</p>
        </div>
        <br>
        <a href="{% url 'login' %}" class="button button_style_blue">Войти снова</a></li>
    </div>
</main>
{% endblock %}