{% extends 'base.html' %}    
    <title>{% block title %}Сброс пароля{% endblock %}</title>
    {% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            <p class="form__info-text">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
            </p>
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    <input type="{{ field.name|cut:"1"|cut:"2" }}" name="{{ field.name }}" id="{{ field.id_for_label  }}" class="form__input">
                    <span class="form__error">{{ field.errors }}</span>
                </div>
            </div>
            {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
        </form>
    </div>


</main>
{% endblock %}
