{% extends 'base.html' %}    
    <title>{% block title %}Изменить пароль{% endblock %}</title>
    {% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block content %}
<body class="body">
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    {% if validlink %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <input type="{{ field.name|cut:"1"|cut:"2"|cut:"new_" }}" name="{{ field.name }}" id="{{ field.id_for_label  }}" class="form__input">
                        <span class="form__error">{{ field.errors }}</span>
                    </div>
                </div>
                {% endfor %}
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
        </form>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">Ошибка</div>
                    <div class="card-body">
                        <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
