{% extends 'base.html' %}
<title>{% block title %}Пароль сброшен{% endblock %}</title>
{% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block content %}
<main class="main container">
    <div class="single-card__section"></div>
        <h1 class="single-card__section-title">Пароль сброшен</h1>
        <div>
            <p>Проверьте свою почту, для вас должно прийти письмо со ссылкой для восстановления пароля</p>
        </div>
    </div>
</main>
{% endblock %}