{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
    {% block content %}
    {% load recipe_form_filters %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ header }}</h1>
            {% include 'includes/tags.html' %}
        </div>
        {% if request.resolver_match.url_name == 'profile' %}
        <div class="author-subscribe" data-author="{{ profile.id }}">
            {% if user.is_authenticated %}
            {% if profile|is_follow:user %}
                <button class="button button_style_light-blue button_size_auto" name="subscribe"><span class="icon-check button__icon"></span>Отписаться от автора </button></p>
            {% else %}
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto" name="subscribe" data-out>Подписаться на автора</button></p>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}
        <div class="card-list">
            {% for recipe in page %}
                {% include 'includes/card.html' %}
            {% endfor %}
        </div>
        {% include "paginator.html" %}
    </main>
    {% endblock %}
    
