{% extends 'base.html' %}
{% load static %}
{%block title %}Технологии{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
    {% block content %}
    <main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block">Технологи на которых собран сайт: Django, JS, NGINX, Gunicorn</p>
    <div class="custom-button-block">
        <button class="button button_style_blue" onclick="document.location='{% url 'main_page' %}'">Не перейти на главную</button>
        <a class="form__forgot-link" href="{% url 'password_reset' %}">Забыли пароль?</a>
    </div>
    </div>
    </main>
    {% endblock %}
